.vscode/**
typings/**
out/**
test/**
src/**
preview-src/**
node_modules/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
*.vsix
eslint.config.js
webpack.preview.config.js
webpack.extension.config.js
.vscode-test.mjs
.github/**
.git/**
.vscode-test/**
